!!!
%html{ :lang => 'en' }
  %head
    %link{:href => "stylesheets/stylesheet.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    = js 'jquery-1.4.3.min'
    = js 'jquery.scrollTo-1.4.2'
    = js 'jquery.timer'
    
    = js 'picky.min'
  %body
    .header
    -# %img{:src => "images/picky.png"}/
    %p
      = Picky::Helper.cached_interface
    %p
      %a{:href => "http://florianhanke.com/picky"} To the Picky Homepage
    :javascript
      pickyClient = new PickyClient({
        // A full query displays the rendered results.
        //
        full: '/search/full',
        
        // A live query just updates the count.
        //
        live: '/search/live',
        
        // showResultsLimit: 10, // Optional. Default is 10.
        
        // before: function(params, query, offset) {  }, // Optional. Before Picky sends any data.
        // success: function(data, query) {  }, // Optional. Just after Picky receives data. (Get a PickyData object)
        // after: function(data, query) {  }, // Optional. After Picky has handled the data and updated the view.
        
        // This is used to generate the correct query strings, localized. E.g. "subject:war".
        // Optional. If you don't give these, the field identifier given in the Picky server is used.
        //
        qualifiers: {
          en:{
            named: 'name',
            version:  'versions',
            written: 'author',
            writer: 'author',
            using: 'dependencies',
            depends: 'dependencies',
            dependent: 'dependencies'
          }
        },
        
        // This is used to explain the preceding word in the suggestion text, localized. E.g. "Peter (author)".
        // Optional. Default are the field identifiers from the Picky server.
        //
        explanations: {
          en:{
            name: 'named',
            author: 'written by',
            versions: 'version',
            dependencies: 'using'
          }
        }
      });
      
      // An initial search text, prefilled.
      //
      pickyClient.insert('picky');